<mat-card>
    <mat-card-title>Buy Electricity Token</mat-card-title>
    <mat-spinner *ngIf="isLoading"></mat-spinner>

    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="number" name="email" ngModel placeholder="Meter Number" #emailInput="ngModel" 
            oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
            maxlength="6" required email>
            <mat-error *ngIf="emailInput.invalid">Please enter Valid Meter Number.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="number" name="password" ngModel placeholder="Enter Amount" 
            #passwordInput="ngModel"
            min="10"
            max="30"
            
       
            >
            <mat-error *ngIf="passwordInput.invalid">Please enter Money</mat-error>
        </mat-form-field>

        <button mat-raised-button color="accent" type="submit" *ngIf="!isLoading">BUY TOKEN
      </button>

        <!-- <mat-spinner *ngIf="isLoading"></mat-spinner> -->
    </form>
</mat-card>